<html>
    <head>
        <title>Drinks</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <%- include('list', {title:title, list:list}) %>
    </body>
</html>