<html>
    <head>
        <title>Drink</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <div><%= title %> Name: <%= item.name %></div>
    </body>
</html>