<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <ol>
            <li>
                <a href="drinks"><span> Drinks </span></a>
            </li>
            <li>
                <a href="snacks"><span> Snacks </span></a>
            </li>
        </ol>
    </body>
</html>