<h2><%= title %></h2>
<ul>
    <% list.forEach((item) => { %>
        <li>
            <%= item.name %>
            <a href="/drinks/<%= item.id %>/update">Update</a>
        </li>
    <% }); %>
</ul>